body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/* Main Header */
.main-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 10px;
    background-size: cover;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,.35);
    }

    .title {
        position: relative;
        z-index: 1;
        font-size: 2.5rem;
        font-weight: 400;
        color: white;
    }
}

/* HOMEPAGE */
#homepage {
    .main-header {
        background-image: url(../images/homepage.jpg);
    }
}