// variables
$color-black: #333;
$color-gray: #9B9B9B;
$color-gray-dark: #6C6C6C;
$color-gray-light: #F6F6F6;
$color-blue: #3574FF;
$color-green: #00C853;
$color-home: #1F2635;
$color-home-line: #4E5C79;
$color-home-text: #6C778E;
$color-red: #F8333C;
$color-border: #D9E0EB;
$color-text-hour: #ACADC2;
$color-text-title: #5F748D;
$color-text-info: #93A5BA;
$color-plan-place: $color-green;
$color-plan-transition: $color-blue;
$color-plan-walk: #546E7A;
$color-plan-food: #FFC400;
$color-plan-house: #C62828;
$color-background: #F8F9FA;

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    color: $color-text-title;
    background: $color-background;
}

* {
    box-sizing: border-box;
}

i {
    vertical-align: middle;
}


// Resets
a {
    color: $color-text-title;
    text-decoration: none;
}

p {
    margin: 0;
}

strong {
    font-weight: 500;
}

// Texts
.main-title {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 4px;
}

.date-gray {
    font-size: 14px;
    color: $color-text-info;
    font-weight: 300;
}

// Main Header
.main-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    padding: 10px;
    background-size: cover;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,.35);
    }

    .title {
        position: relative;
        z-index: 1;
        margin: 0;
        font-size: 2.5rem;
        font-weight: 400;
        color: white;
    }

    .sub-title {
        position: relative;
        z-index: 1;
        font-weight: 300;
        color: rgba(255, 255, 255, .7);
    }


    .back {
        position: absolute;
        left: 0;
        top: 0;
        padding: 16px;
        z-index: 2;
        color: white;
    }
}

// Main Nav
.main-nav {
    display: flex;
    justify-content: center;

    a {
        flex-grow: 1;
        padding: 16px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        border: 1px solid $color-border;
        border-width: 0 0 1px 1px;

        &:first-child {
            border-left-width: 0;
        }
    }
}

// Days Index
.days-index {
    list-style: none;
    padding-left: 0;
    margin-top: 0;

    li {
        border-bottom: 1px solid $color-border;
        margin: 0;

        a {
            display: block;
            padding: 24px 32px;
        }
    }
}

// Plan list
.plan-list {
    margin-top: 32px;

    .plan {
        position: relative;
        display: block;
        padding: 1px 16px 32px 56px;

        &::before {
            content: '';
            position: absolute;
            width: 1px;
            top: 0;
            bottom: 0;
            left: 32px;
            background: $color-border;
        }

        .plan-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 23px;
            top: -2px;
            width: 19px;
            height: 19px;
            border-radius: 50%;
            color: $color-home;
            background-color: $color-background;
            // border: 3px solid $color-text-hour;

            i {
                font-size: 19px;
            }
        }

        .plan-time {
            font-size: 14px;
            line-height: 1em;
            color: $color-text-hour;
        }

        .plan-data-container {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 4px;

            .plan-title {
                position: relative;
                z-index: 100;
                margin: 0;
                color: $color-text-title;
                font-size: 14px;
    
                a,
                span {
                    display: inline-block;
                    padding: 4px 0;
                    color: inherit;
                }
            }

            .plan-data {
                position: relative;
                z-index: 100;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                font-size: 12px;
                color: $color-text-info;
    
                .plan-data-item {
                    display: flex;
                    align-items: center;
                    padding: 2px 4px;
                    border-right: 1px solid $color-text-info;
    
                    &:first-child {
                        padding-left: 0;
                    }
    
                    &:last-child {
                        border-right: 0;
                    }
                }
    
                i {
                    font-size: 14px;
                    margin-right: 2px;
                }
            }

            &.with-image {
                overflow: hidden;
                height: 150px;
                border-radius: 4px;
                padding: 12px 16px;
                margin-top: 4px;
                justify-content: flex-end;

                &::before {
                    content: '';
                    z-index: 50;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e2137+0,0e2137+98&0+20,0.65+70,0.9+100 */
                    background: -moz-linear-gradient(top, rgba(14,33,55,0) 0%, rgba(14,33,55,0) 20%, rgba(14,33,55,0.65) 70%, rgba(14,33,55,0.88) 98%, rgba(14,33,55,0.9) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(14,33,55,0) 0%,rgba(14,33,55,0) 20%,rgba(14,33,55,0.65) 70%,rgba(14,33,55,0.88) 98%,rgba(14,33,55,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(14,33,55,0) 0%,rgba(14,33,55,0) 20%,rgba(14,33,55,0.65) 70%,rgba(14,33,55,0.88) 98%,rgba(14,33,55,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000e2137', endColorstr='#e60e2137',GradientType=0 ); /* IE6-9 */
                }

                .full-link {
                    z-index: 200;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }

                .plan-title,
                .plan-data {
                    color: #F8F9FA;
                }

                .plan-data {
                    opacity: 0.65;
                }

                figure {
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
        
                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }

        .type-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            position: absolute;
            left: -38px;
            width: 24px;
            height: 24px;
            background-color: $color-gray-dark;
            border-radius: 50%;
            color: white;

            i.material-icons {
                font-size: 16px;
            }

        }

        .plan-info {
            margin-top: 16px;
            font-size: 13px;
            color: $color-text-info;
            padding-left: 16px;
            margin: 0;
            margin-top: 8px;
                
            li {
                padding: 4px 0;

                a {
                    color: inherit;
                    border-bottom: 1px dashed $color-text-info;
                }
            }
        }

        &.type-place {
            .plan-icon {
                color: $color-plan-place;
            }
        }

        &.type-transition,
        &.type-plane {
            .plan-icon {
                color: $color-plan-transition;
            }
        }

        &.type-walk {
            .plan-icon {
                color: $color-plan-walk;
            }
        }

        &.type-food {
            .plan-icon {
                color: $color-plan-food;
            }
        }

        &.type-house {
            .plan-icon {
                color: $color-plan-house;
            }
        }
    }
}


// HOMEPAGE
#homepage {
    .main-header {
        background-image: url(../images/homepage.jpg);
    }
}

//DAYS
.next-day {
    position: relative;
    display: block;
    padding: 24px;
    border-top: 1px solid $color-border;

    i {
        position: absolute;
        right: 24px;
        top: 32px;
    }
}

#day1 {
    .main-header {
        background-image: url(../images/day1.jpg);
    }
}