// variables
$color-black: #333;
$color-gray: #9B9B9B;
$color-gray-dark: #6C6C6C;
$color-gray-light: #F6F6F6;
$color-blue: #3574FF;
$color-home: #1F2635;
$color-home-line: #4E5C79;
$color-home-text: #6C778E;
$color-red: #F8333C;
$color-border: #D8D8D8;

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    color: $color-black;
}

* {
    box-sizing: border-box;
}

i {
    vertical-align: middle;
}


// Resets
a {
    color: $color-black;
    text-decoration: none;
}

p {
    margin: 0;
}

strong {
    font-weight: 500;
}

// Texts
.main-title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 4px;
}

.date-gray {
    font-size: 14px;
    color: $color-gray;
    font-weight: 300;
}

// Main Header
.main-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    padding: 10px;
    background-size: cover;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,.35);
    }

    .title {
        position: relative;
        z-index: 1;
        margin: 0;
        font-size: 2.5rem;
        font-weight: 400;
        color: white;
    }

    .sub-title {
        position: relative;
        z-index: 1;
        font-weight: 300;
        color: rgba(255, 255, 255, .7);
    }


    .back {
        position: absolute;
        left: 0;
        top: 0;
        padding: 16px;
        z-index: 2;
        color: white;
    }
}

// Main Nav
.main-nav {
    display: flex;
    justify-content: center;

    a {
        flex-grow: 1;
        padding: 16px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        border: 1px solid $color-border;
        border-width: 0 0 1px 1px;

        &:first-child {
            border-left-width: 0;
        }
    }
}

// Days Index
.days-index {
    list-style: none;
    padding-left: 0;
    margin-top: 0;

    li {
        border-bottom: 1px solid $color-border;
        margin: 0;

        a {
            display: block;
            padding: 24px 32px;
        }
    }
}

// Plan list
.plan-list {
    .plan {
        position: relative;
        display: block;
        padding: 24px 16px 24px 80px;
        border-bottom: 1px solid $color-border;

        figure {
            overflow: hidden;
            margin: 0;
            margin: 8px 0;
            border-radius: 4px;

            img {
                display: block;
                max-width: 100%;
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 1px;
            top: 0;
            bottom: 0;
            left: 64px;
            background: $color-border;
        }

        .plan-info {
            position: relative;

            .plan-time {
                position: absolute;
                top: 2px;
                left: -80px;
                display: flex;
                flex-direction: column;
                width: 64px;
                height: 28px;
                padding-left: 8px;
                padding-right: 8px;
                font-size: 12px;
                line-height: 1.2em;
                color: $color-gray;
                text-align: center;
            }

            .type-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                position: absolute;
                left: -38px;
                width: 24px;
                height: 24px;
                background-color: $color-gray-dark;
                border-radius: 50%;
                color: white;

                i.material-icons {
                    font-size: 16px;
                }

            }

            .place-icon {
                position: absolute;
                top: 0;
                right: 0;
                color: $color-blue;
            }
        }

        .plan-data {
            margin-top: 16px;
            font-size: 13px;

            ul {
                padding-left: 16px;
                margin: 0;

                li {
                    margin: 8px 0;
                }
            }
        }

        &.plan-place {
            .plan-info {
                .type-icon {
                    border: 4px solid $color-red;
                    background-color: white;
                }
            }
        }

        &.plan-transition,
        &.plan-house {
            padding: 16px 16px 16px 80px;
            background: $color-gray-light;

            .plan-info {
                .plan-time { 
                    top: 0;
                    justify-content: center;
                }
                font-size: 14px;
                color: $color-gray-dark;
                line-height: 24px;
            }
        }

        &.plan-house {
            background-color: $color-home;

            &::before { 
                background-color: $color-home-line;
            }
            .plan-info {
                color: $color-home-text;
                
                .plan-time {
                    color: $color-home-text;                        
                }

                .type-icon {
                    background-color: $color-home-line;
                }
                
                .place-icon {
                    color: $color-home-line;
                }
            }
        }
    }
}


// HOMEPAGE
#homepage {
    .main-header {
        background-image: url(../images/homepage.jpg);
    }
}

#day1 {
    .main-header {
        background-image: url(../images/day1.jpg);
    }
}