body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  color: #5F748D;
  background: #F8F9FA; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

i {
  vertical-align: middle; }

a {
  color: #5F748D;
  text-decoration: none; }

p {
  margin: 0; }

strong {
  font-weight: 500; }

.main-title {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 4px; }

.date-gray {
  font-size: 14px;
  color: #93A5BA;
  font-weight: 300; }

.main-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 200px;
  padding: 10px;
  background-size: cover; }
  .main-header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35); }
  .main-header .title {
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 2.5rem;
    font-weight: 400;
    color: white; }
  .main-header .sub-title {
    position: relative;
    z-index: 1;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7); }
  .main-header .back {
    position: absolute;
    left: 0;
    top: 0;
    padding: 16px;
    z-index: 2;
    color: white; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .main-nav a {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 16px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #D9E0EB;
    border-width: 0 0 1px 1px; }
    .main-nav a:first-child {
      border-left-width: 0; }

.days-index {
  list-style: none;
  padding-left: 0;
  margin-top: 0; }
  .days-index li {
    border-bottom: 1px solid #D9E0EB;
    margin: 0; }
    .days-index li a {
      display: block;
      padding: 24px 32px; }

.plan-list {
  margin-top: 32px; }
  .plan-list .plan {
    position: relative;
    display: block;
    padding: 1px 16px 32px 56px; }
    .plan-list .plan::before {
      content: '';
      position: absolute;
      width: 1px;
      top: 0;
      bottom: 0;
      left: 32px;
      background: #D9E0EB; }
    .plan-list .plan .plan-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: absolute;
      left: 23px;
      top: -2px;
      width: 19px;
      height: 19px;
      border-radius: 50%;
      color: #1F2635;
      background-color: #F8F9FA; }
      .plan-list .plan .plan-icon i {
        font-size: 19px; }
    .plan-list .plan .plan-time {
      font-size: 14px;
      line-height: 1em;
      color: #ACADC2; }
    .plan-list .plan .plan-data-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      position: relative;
      margin-bottom: 4px; }
      .plan-list .plan .plan-data-container .plan-title {
        position: relative;
        z-index: 100;
        margin: 0;
        color: #5F748D;
        font-size: 14px; }
        .plan-list .plan .plan-data-container .plan-title a,
        .plan-list .plan .plan-data-container .plan-title span {
          display: inline-block;
          padding: 4px 0;
          color: inherit; }
      .plan-list .plan .plan-data-container .plan-data {
        position: relative;
        z-index: 100;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        font-size: 12px;
        color: #93A5BA; }
        .plan-list .plan .plan-data-container .plan-data .plan-data-item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 2px 4px;
          border-right: 1px solid #93A5BA; }
          .plan-list .plan .plan-data-container .plan-data .plan-data-item:first-child {
            padding-left: 0; }
          .plan-list .plan .plan-data-container .plan-data .plan-data-item:last-child {
            border-right: 0; }
        .plan-list .plan .plan-data-container .plan-data i {
          font-size: 14px;
          margin-right: 2px; }
      .plan-list .plan .plan-data-container.with-image {
        overflow: hidden;
        height: 150px;
        border-radius: 4px;
        padding: 12px 16px;
        margin-top: 4px;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
        .plan-list .plan .plan-data-container.with-image::before {
          content: '';
          z-index: 50;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e2137+0,0e2137+98&0+20,0.65+70,0.9+100 */
          background: -moz-linear-gradient(top, rgba(14, 33, 55, 0) 0%, rgba(14, 33, 55, 0) 20%, rgba(14, 33, 55, 0.65) 70%, rgba(14, 33, 55, 0.88) 98%, rgba(14, 33, 55, 0.9) 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(14, 33, 55, 0) 0%, rgba(14, 33, 55, 0) 20%, rgba(14, 33, 55, 0.65) 70%, rgba(14, 33, 55, 0.88) 98%, rgba(14, 33, 55, 0.9) 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 33, 55, 0)), color-stop(20%, rgba(14, 33, 55, 0)), color-stop(70%, rgba(14, 33, 55, 0.65)), color-stop(98%, rgba(14, 33, 55, 0.88)), to(rgba(14, 33, 55, 0.9)));
          background: -o-linear-gradient(top, rgba(14, 33, 55, 0) 0%, rgba(14, 33, 55, 0) 20%, rgba(14, 33, 55, 0.65) 70%, rgba(14, 33, 55, 0.88) 98%, rgba(14, 33, 55, 0.9) 100%);
          background: linear-gradient(to bottom, rgba(14, 33, 55, 0) 0%, rgba(14, 33, 55, 0) 20%, rgba(14, 33, 55, 0.65) 70%, rgba(14, 33, 55, 0.88) 98%, rgba(14, 33, 55, 0.9) 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000e2137', endColorstr='#e60e2137',GradientType=0 );
          /* IE6-9 */ }
        .plan-list .plan .plan-data-container.with-image .full-link {
          z-index: 200;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0; }
        .plan-list .plan .plan-data-container.with-image .plan-title,
        .plan-list .plan .plan-data-container.with-image .plan-data {
          color: #F8F9FA; }
        .plan-list .plan .plan-data-container.with-image .plan-title {
          font-size: 16px; }
        .plan-list .plan .plan-data-container.with-image .plan-data {
          opacity: 0.65; }
        .plan-list .plan .plan-data-container.with-image figure {
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin: 0; }
          .plan-list .plan .plan-data-container.with-image figure img {
            display: block;
            width: 100%; }
    .plan-list .plan .type-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      left: -38px;
      width: 24px;
      height: 24px;
      background-color: #6C6C6C;
      border-radius: 50%;
      color: white; }
      .plan-list .plan .type-icon i.material-icons {
        font-size: 16px; }
    .plan-list .plan .plan-info {
      margin-top: 16px;
      font-size: 13px;
      color: #93A5BA;
      padding-left: 16px;
      margin: 0;
      margin-top: 8px; }
      .plan-list .plan .plan-info li {
        padding: 4px 0; }
        .plan-list .plan .plan-info li a {
          color: inherit;
          border-bottom: 1px dashed #93A5BA; }
    .plan-list .plan.type-place .plan-icon {
      color: #00C853; }
    .plan-list .plan.type-transition .plan-icon, .plan-list .plan.type-plane .plan-icon {
      color: #3574FF; }
    .plan-list .plan.type-walk .plan-icon {
      color: #546E7A; }
    .plan-list .plan.type-food .plan-icon {
      color: #FFC400; }
    .plan-list .plan.type-house .plan-icon {
      color: #C62828; }

#homepage .main-header {
  background-image: url(../images/homepage.jpg); }

.next-day {
  position: relative;
  display: block;
  padding: 24px;
  border-top: 1px solid #D9E0EB; }
  .next-day i {
    position: absolute;
    right: 24px;
    top: 32px; }

#day1 .main-header {
  background-image: url(../images/day1.jpg); }
